h1 {
  color: #474747;
  text-align: left;
}

form {
  margin-top: 2vh;
  mat-form-field {
    margin-right: 1vw;
  }
}

.stores {
  margin-top: 5vh;
}

mat-card {
  max-width: 50%;
  margin-top: 1vh;
}
